.services {
    .bxcd {
        width: 20vw;
        height: auto;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:  #162F5F;
        ;
        img {
            width: 50%;
        }
    }
}