$primary-color : #FAFAFA;
;
$secondary-color : #ffffff;
$bg-color : #121212;
$font-family : 'Nunito';

// typography
$heading-font : 5vh;
$heading-weight : 500;
$title-font : 30px;
$des-font : 20px;
$link-font : 24px;

// link color
$link-color : #FFAF00;
// $heading-color : #9FA8DA;
$heading-color : #FAFAFA;
// $heading-color : rgb(28, 128, 207);
$title-color: #121212;
$des-color : #FFFFFF;

$vh-100 : 100vh;

@media only screen and (min-width: 1440px) and (max-width: 2560px) {
    // font-size: 3vh;
}